@import "../../Foundation/_mixin.scss";

.c-block-table {
    display: block;
    width: 100%;
    overflow-x: scroll;
    &__inner {
        border: 1px solid #ffffff;
        border-collapse: collapse;
        width: 200%;
        tbody {
            th {
                border: 1px solid #f1eeee;
                border-collapse: collapse;
                padding: 20px 5px;
                height: 5vh;
                background: #d04c67;
                display: table-cell;
                text-align: center;
                vertical-align: middle;
                @include mobile{
                    padding: 2vw 0px;
                }
            }
            td {
                border: 1px solid #f1eeee;
                border-collapse: collapse;
                padding: 5px;
                height: 5vh;
                display: table-cell;
                text-align: center;
                vertical-align: middle;
                background-color: #ffffff;
                @include mobile{
                    min-width: 30vw;
                }
                &.first-cell {
                    background-color: #ffe8e8;
                    padding: 0px;
                    min-width: 10vw;
                    @include mobile{
                        min-width: 20vw;
                    }
                }
            }
        }
    }
}
.c-hikaku-image__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    .logo-image {
        width: 10vw;
        @include mobile{
            width: 35vw;
        }
    }
    .cam-image {
        width: 10vw;
        @include mobile{
            width: 30vw;
        }
    }
    &--first {
        img{
            width: 6vw;
            @include mobile{
                width: 12vw;
            }
        }
    }
}

.c-block-table__link {
    display: flex;
    justify-content: center;
    a {
        color: #668ad8;
    }
}