@import "../Foundation/_mixin.scss";

.l-article {
    margin: 0 auto;
    color: #4d4d4d;
    max-width: 880px;
    background-color: none;
    overflow: hidden;
    @include mobile {
        max-width: 100%;
        overflow-x: hidden;
    }
}
.l-block-fv img {
    width: 100%;
  }
.l-header-cover{
    background-color: #D04C67;
    width: 100%;
    margin: 0 auto;
    display: flex;
    h2{
        width: fit-content;
        padding: 0.8rem 2rem;
        text-align: center;
    }
}
.l-block-sections{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 1rem;
}